body {
    margin: 0;    /* remove default margin and padding*/
    padding: 0;
    padding-bottom: 1000px;
    font-family: "Nunito";
    background-color: black;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 40px;
    flex-direction: row;
    flex: 100px 3;
    background-color: #0D0F11;
}

.left-section {
    color: white;
}

.logo,
.logo:visited,
.logo:hover,
.logo:active {
    color: white;
    text-decoration: none;
    font-family: "Source Code Pro";
    font-size: 40px;
}

.logo {
    margin-left: 20px;
}

.right-section {
    color: white;
}
.roadmap, .gallery, .report {
    color: white;
    text-decoration: none;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 24px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: center;
    padding: 20px;
    
}

.beginner-section, .intermediate-section, .advanced-section {
    margin-left: 18px;
    margin-right: 18px;
    height: 800px;
    background-color: rgb(28, 30, 37);
    border-radius: 10px;
    border: 1px solid rgb(78, 75, 75);
}

.section-title {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 600;
    color: white;
}

.content a,
.content a:visited,
.content a:active {
    display: block;
    text-decoration: none;
    margin-left: 20px;
    color: white;
}

.content a:hover {
    text-decoration: none;
}

.content a strong:hover {
    text-decoration: underline;
    cursor: pointer;
}

.content a {
    position: relative;
    padding: 4px;
    font-size: 15px;
    cursor: default;
}

.content a:has(> strong:hover)::after {
    content: attr(data-tooltip);
    position: absolute;
    left: 0;
    top: 100%;
    margin-top: 5px;
    padding: 6px 10px;
    color: white;
    background: #333;
    border-radius: 4px;
    white-space: nowrap;
    z-index: 10;
}